<?xml version="1.0" encoding="UTF-8"?>
<Configuration  level="INFO">
	<Properties>
		<Property name="layoutPattern">[%d{yyyy-MM-dd HH:mm:ss.SSS}][%-5p] %C{1}.%M(%F:%L) %m%n</Property>
	</Properties>

	<Appenders>
		<!-- 콘솔 출력 -->
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS}][%-5p] %C.%M(%F:%L) %m%n" />
		</Console>

		<!-- INFO 출력 -->
		<RollingFile name="rollingFile" fileName="D:/LOG/mtp/all.log" filePattern="D:/LOG/mtp/all_%d{yyyyMMdd}.log">
			<PatternLayout pattern="${layoutPattern}" />
			<Policies>
				<SizeBasedTriggeringPolicy size="100MB" /> <!-- 10MB 용량이 초과시 DefaultRolloverStrategy 정책만큼 넘버링 -->
			</Policies>
			<DefaultRolloverStrategy max="50" fileIndex="min" /><!-- 롤링 파일 500개 까지 생성 -->
		</RollingFile>

		<!-- ERROR 출력 -->
		<RollingFile name="errorFile" fileName="D:/LOG/mtp/error.log" filePattern="D:/LOG/mtp/error_%d{yyyyMMdd}.log">
			<PatternLayout pattern="${layoutPattern}" />
			<Policies>
				<SizeBasedTriggeringPolicy size="100MB" /> <!-- 10MB 용량이 초과시 DefaultRolloverStrategy 정책만큼 넘버링 -->
			</Policies>
			<ThresholdFilter level="ERROR"/>
			<!--
			<LevelRangeFilter minLevel="DEBUG" maxLevel="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
			-->
			<DefaultRolloverStrategy max="50" fileIndex="min" /><!-- 롤링 파일 500개 까지 생성 -->
		</RollingFile>
	</Appenders>

	<Loggers>
		<!-- 스프링 코어 START-->
		<Logger name="org.springframework.jdbc.datasource" level="ERROR" additivity="false">
			<AppenderRef ref="console"/>
			<AppenderRef ref="rollingFile"/>
			<AppenderRef ref="errorFile"/>
		</Logger>
		<Logger name="org.mybatis.spring.transaction" level="ERROR" additivity="false">
			<AppenderRef ref="console"/>
			<AppenderRef ref="rollingFile"/>
			<AppenderRef ref="errorFile"/>
		</Logger>

		<Logger name="org.springframework.core" level="ERROR" additivity="false">
			<AppenderRef ref="console"/>
			<AppenderRef ref="rollingFile"/>
			<AppenderRef ref="errorFile"/>
		</Logger>
		<Logger name="org.springframework.beans" level="ERROR" additivity="false">
			<AppenderRef ref="console"/>
			<AppenderRef ref="rollingFile"/>
			<AppenderRef ref="errorFile"/>
		</Logger>
		<Logger name="org.springframework.context" level="ERROR" additivity="false">
			<AppenderRef ref="console"/>
			<AppenderRef ref="rollingFile"/>
			<AppenderRef ref="errorFile"/>
		</Logger>
		<Logger name="org.springframework.web" level="OFF" additivity="false">
			<AppenderRef ref="console"/>
			<AppenderRef ref="rollingFile"/>
			<AppenderRef ref="errorFile"/>
		</Logger>
		<Logger name="org.springframework" level="INFO" additivity="false">
			<AppenderRef ref="console"/>
			<AppenderRef ref="rollingFile"/>
			<AppenderRef ref="errorFile"/>
		</Logger>

		<Logger name="org.apache.ibatis" level="INFO" additivity="false">
			<AppenderRef ref="console"/>
			<AppenderRef ref="rollingFile"/>
			<AppenderRef ref="errorFile"/>
		</Logger>
		<Logger name="org.mybatis" level="WARN" additivity="false">
			<AppenderRef ref="console"/>
			<AppenderRef ref="rollingFile"/>
			<AppenderRef ref="errorFile"/>
		</Logger>
		<!-- 스프링 코어 END-->


		<!-- JDBC START-->
		<Logger name="jdbc.sqltiming" level="OFF" additivity="false">
			<AppenderRef ref="console"/>
			<AppenderRef ref="rollingFile"/>
			<AppenderRef ref="errorFile"/>
		</Logger>
		<Logger name="jdbc.resultsettable" level="ERROR" additivity="false">
			<AppenderRef ref="console"/>
			<AppenderRef ref="rollingFile"/>
			<AppenderRef ref="errorFile"/>
		</Logger>
		<Logger name="jdbc.sqlonly" level="ERROR" additivity="false">
			<AppenderRef ref="console"/>
			<AppenderRef ref="rollingFile"/>
			<AppenderRef ref="errorFile"/>
		</Logger>
		<Logger name="jdbc.resultset" level="ERROR" additivity="false">
			<AppenderRef ref="console"/>
			<AppenderRef ref="rollingFile"/>
			<AppenderRef ref="errorFile"/>
		</Logger>
		<Logger name="jdbc.audit" level="OFF" additivity="false">
			<AppenderRef ref="console"/>
			<AppenderRef ref="rollingFile"/>
			<AppenderRef ref="errorFile"/>
		</Logger>
		<Logger name="jdbc.connection" level="OFF" additivity="false">
			<AppenderRef ref="console"/>
			<AppenderRef ref="rollingFile"/>
			<AppenderRef ref="errorFile"/>
		</Logger>
		<!-- JDBC END-->


		<Root level="WARN">
			<AppenderRef ref="console"/>
			<AppenderRef ref="rollingFile"/>
			<AppenderRef ref="errorFile"/>
		</Root>
	</Loggers>

</Configuration>