<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  	
<mapper namespace="mes.mappers.bs.salesPlanAdmMapper">

	<resultMap id="SalesPlanAdmVo" type="mes.domain.bs.SalesPlanAdmVo">
	
		<result property="dealCorpCd"	column="DEAL_CORP_CD"			/>	
		<result property="gijongCd" 	column="GIJONG_CD"				/>
		<result property="dealCorpNm"	column="DEAL_CORP_NM"			/>
		<result property="gijongNm" 	column="GIJONG_NM"				/>
		<result property="planYear" 	column="PLAN_YEAR"				/>
		<result property="janCnt"   	column="JAN_CNT"                />
		<result property="janCost"  	column="JAN_COST"               />
		<result property="febCnt"   	column="FEB_CNT"                />
		<result property="febCost"  	column="FEB_COST"               />
		<result property="marCnt"   	column="MAR_CNT"                />
		<result property="marCost"  	column="MAR_COST"               />
		<result property="aprCnt"   	column="APR_CNT"                />
		<result property="aprCost"  	column="APR_COST"               />
		<result property="mayCnt"   	column="MAY_CNT"	            />
		<result property="mayCost"  	column="MAY_COST"               />
		<result property="junCnt"   	column="JUN_CNT"                />
		<result property="junCost"  	column="JUN_COST"               />
		<result property="julCnt"   	column="JUL_CNT"                />
		<result property="julCost"  	column="JUL_COST"               />
		<result property="augCnt"   	column="AUG_CNT"                />
		<result property="augCost"  	column="AUG_COST"               />
		<result property="sepCnt"   	column="SEP_CNT"                />
		<result property="sepCost"  	column="SEP_COST"               />
		<result property="octCnt"   	column="OCT_CNT"                />
		<result property="octCost"  	column="OCT_COST"		        />
		<result property="novCnt"       column="NOV_CNT"				/>	
		<result property="novCost"      column="NOV_COST"				/>	
		<result property="decCnt"       column="DEC_CNT"				/>	
		<result property="decCost"      column="DEC_COST"				/>
		<result property="regId"		column="REG_ID"					/>
		<result property="regDate"		column="REG_DATE"				/>
		<result property="updId"		column="UPD_ID"					/>
		<result property="updDate"		column="UPD_DATE"				/>
		<result property="baseCd"		column="BASE_CD"				/>
		<result property="baseCdNm"		column="BASE_CD_NM"				/>
		<result property="gubun"		column="GUBUN"					/>
		<result property="totalCnt"		column="TOTAL_CNT"				/>
		<result property="totalCost"	column="TOTAL_COST"				/>
		
		<result property="quarterCnt1"	column="QUARTER_CNT1"			/>
		<result property="quarterCnt2"	column="QUARTER_CNT2"			/>
		<result property="quarterCnt3"	column="QUARTER_CNT3"			/>
		<result property="quarterCnt4"	column="QUARTER_CNT4"			/>
		<result property="quarterCost1"	column="QUARTER_COST1"			/>
		<result property="quarterCost2"	column="QUARTER_COST2"			/>
		<result property="quarterCost3"	column="QUARTER_COST3"			/>
		<result property="quarterCost4"	column="QUARTER_COST4"			/>
		<result property="qty1"			column="QTY1"					/>
		<result property="qty2"			column="QTY2"					/>
		<result property="qty3"			column="QTY3"					/>
		<result property="qty4"			column="QTY4"					/>
		<result property="qty5"			column="QTY5"					/>
		<result property="qty6"			column="QTY6"					/>
		<result property="qty7"			column="QTY7"					/>
		<result property="qty8"			column="QTY8"					/>
		<result property="qty9"			column="QTY9"					/>
		<result property="qty10"		column="QTY10"					/>
		<result property="qty11"		column="QTY11"					/>
		<result property="qty12"		column="QTY12"					/>
		<result property="cost1"		column="COST1"					/>
		<result property="cost2"		column="COST2"					/>
		<result property="cost3"		column="COST3"					/>
		<result property="cost4"		column="COST4"					/>
		<result property="cost5"		column="COST5"					/>
		<result property="cost6"		column="COST6"					/>
		<result property="cost7"		column="COST7"					/>
		<result property="cost8"		column="COST8"					/>
		<result property="cost9"		column="COST9"					/>
		<result property="cost10"		column="COST10"					/>
		<result property="cost11"		column="COST11"					/>
		<result property="cost12"		column="COST12"					/>		
		
		<result property="orderby"		column="orderby"				/>		
	
	</resultMap>
	
	<!-- 판매계획 전체조회 -->
	<select id="listAll" resultMap="SalesPlanAdmVo">
			SELECT
				DEAL_CORP_CD
				, (SELECT DEAL_CORP_NM FROM TB_DEAL_CORP_ADM B WHERE B.DEAL_CORP_CD = A.DEAL_CORP_CD) DEAL_CORP_NM
				, GIJONG_CD
				, (SELECT BASE_CD_NM FROM TB_SYSTEM_COMMON_CODE C WHERE C.BASE_GROUP_CD = '080' AND A.GIJONG_CD = C.BASE_CD ) GIJONG_NM	
				,PLAN_YEAR
			    ,JAN_CNT
			    ,JAN_COST
			    ,FEB_CNT
			    ,FEB_COST
			    ,MAR_CNT
			    ,MAR_COST
			    ,APR_CNT
			    ,APR_COST
			    ,MAY_CNT
			    ,MAY_COST
			    ,JUN_CNT
			    ,JUN_COST
			    ,JUL_CNT
			    ,JUL_COST
			    ,AUG_CNT
			    ,AUG_COST
			    ,SEP_CNT
			    ,SEP_COST
			    ,OCT_CNT
			    ,OCT_COST
			    ,NOV_CNT
			    ,NOV_COST
			    ,DEC_CNT
			    ,DEC_COST				
				, REG_ID
				, REG_DATE
				, UPD_ID
				, UPD_DATE
			FROM TB_SALES_PLAN_ADM A
			WHERE 1=1		
			AND PLAN_YEAR = #{planYear}
	</select>
	
	<select id="read" resultMap="SalesPlanAdmVo">
			SELECT
				DEAL_CORP_CD
				, (SELECT DEAL_CORP_NM FROM TB_DEAL_CORP_ADM B WHERE B.DEAL_CORP_CD = A.DEAL_CORP_CD) DEAL_CORP_NM
				, GIJONG_CD
				, (SELECT BASE_CD_NM FROM TB_SYSTEM_COMMON_CODE C WHERE C.BASE_GROUP_CD = '080' AND A.GIJONG_CD = C.BASE_CD ) GIJONG_NM	
				,PLAN_YEAR
			    ,JAN_CNT
			    ,JAN_COST
			    ,FEB_CNT
			    ,FEB_COST
			    ,MAR_CNT
			    ,MAR_COST
			    ,APR_CNT
			    ,APR_COST
			    ,MAY_CNT
			    ,MAY_COST
			    ,JUN_CNT
			    ,JUN_COST
			    ,JUL_CNT
			    ,JUL_COST
			    ,AUG_CNT
			    ,AUG_COST
			    ,SEP_CNT
			    ,SEP_COST
			    ,OCT_CNT
			    ,OCT_COST
			    ,NOV_CNT
			    ,NOV_COST
			    ,DEC_CNT
			    ,DEC_COST				
				, REG_ID
				, REG_DATE
				, UPD_ID
				, UPD_DATE
		 	  ,ISNULL( CONVERT(numeric, ISNULL(JAN_CNT,0))  + CONVERT(numeric, ISNULL(FEB_CNT,0)) + CONVERT(numeric, ISNULL(MAR_CNT,0)) + CONVERT(numeric, ISNULL(APR_CNT,0)) + CONVERT(numeric, ISNULL(MAY_CNT,0))
				 + CONVERT(numeric, ISNULL(JUN_CNT,0))  + CONVERT(numeric, ISNULL(JUL_CNT,0)) + CONVERT(numeric, ISNULL(AUG_CNT,0)) + CONVERT(numeric, ISNULL(SEP_CNT,0)) + CONVERT(numeric, ISNULL(OCT_CNT,0))
				 + CONVERT(numeric, ISNULL(NOV_CNT,0))  + CONVERT(numeric, ISNULL(DEC_CNT,0)),0) TOTAL_CNT
		  ,ISNULL( CONVERT(numeric, ISNULL(JAN_COST,0)) + CONVERT(numeric, ISNULL(FEB_COST,0)) + CONVERT(numeric, ISNULL(MAR_COST,0)) + CONVERT(numeric, ISNULL(APR_COST,0)) + CONVERT(numeric, ISNULL(MAY_COST,0))
				 + CONVERT(numeric, ISNULL(JUN_COST,0)) + CONVERT(numeric, ISNULL(JUL_COST,0)) + CONVERT(numeric, ISNULL(AUG_COST,0)) + CONVERT(numeric, ISNULL(SEP_COST,0)) + CONVERT(numeric, ISNULL(OCT_COST,0))
				 + CONVERT(numeric, ISNULL(NOV_COST,0)) + CONVERT(numeric, ISNULL(DEC_COST,0)),0) TOTAL_COST
			FROM TB_SALES_PLAN_ADM A
			WHERE 1=1		
			AND DEAL_CORP_CD = #{dealCorpCd}
			AND PLAN_YEAR = #{planYear}
			<if test="gijongCd != null and gijongCd != ''"> 
				AND GIJONG_CD = #{gijongCd}
			</if>	
	</select>
	
	<select id="quarterList" resultMap="SalesPlanAdmVo">
		<![CDATA[
			SELECT DISTINCT
				A.DEAL_CORP_CD
				, (SELECT DEAL_CORP_NM FROM TB_DEAL_CORP_ADM B WHERE B.DEAL_CORP_CD = A.DEAL_CORP_CD) DEAL_CORP_NM
				, A.GIJONG_CD
				, (SELECT BASE_CD_NM FROM TB_SYSTEM_COMMON_CODE C WHERE C.BASE_GROUP_CD = '080' AND A.GIJONG_CD = C.BASE_CD ) GIJONG_NM	
				,PLAN_YEAR
			   , ISNULL(CONVERT(numeric, JAN_CNT) + CONVERT(numeric, FEB_CNT) + CONVERT(numeric, MAR_CNT),0) QUARTER_CNT1
			   , ISNULL(CONVERT(numeric, APR_CNT) + CONVERT(numeric, MAY_CNT) + CONVERT(numeric, JUN_CNT),0) QUARTER_CNT2
			   , ISNULL(CONVERT(numeric, JUL_CNT) + CONVERT(numeric, AUG_CNT) + CONVERT(numeric, SEP_CNT),0) QUARTER_CNT3
			   , ISNULL(CONVERT(numeric, OCT_CNT)	 + CONVERT(numeric, NOV_CNT) + CONVERT(numeric, DEC_CNT),0) QUARTER_CNT4	
			   , ISNULL(CONVERT(numeric, JAN_COST) + CONVERT(numeric, FEB_COST) + CONVERT(numeric, MAR_COST),0) QUARTER_COST1
			   , ISNULL(CONVERT(numeric, APR_COST) + CONVERT(numeric, MAY_COST) + CONVERT(numeric, JUN_COST),0) QUARTER_COST2
			   , ISNULL(CONVERT(numeric, JUL_COST) + CONVERT(numeric, AUG_COST) + CONVERT(numeric, SEP_COST),0) QUARTER_COST3
			   , ISNULL(CONVERT(numeric, OCT_COST)	 + CONVERT(numeric, NOV_COST) + CONVERT(numeric, DEC_COST),0) QUARTER_COST4
			,ISNULL( CONVERT(numeric, ISNULL(JAN_CNT,0))  + CONVERT(numeric, ISNULL(FEB_CNT,0)) + CONVERT(numeric, ISNULL(MAR_CNT,0)) + CONVERT(numeric, ISNULL(APR_CNT,0)) + CONVERT(numeric, ISNULL(MAY_CNT,0))
				 + CONVERT(numeric, ISNULL(JUN_CNT,0))  + CONVERT(numeric, ISNULL(JUL_CNT,0)) + CONVERT(numeric, ISNULL(AUG_CNT,0)) + CONVERT(numeric, ISNULL(SEP_CNT,0)) + CONVERT(numeric, ISNULL(OCT_CNT,0))
				 + CONVERT(numeric, ISNULL(NOV_CNT,0))  + CONVERT(numeric, ISNULL(DEC_CNT,0)),0) TOTAL_CNT
		  ,ISNULL( CONVERT(numeric, ISNULL(JAN_COST,0)) + CONVERT(numeric, ISNULL(FEB_COST,0)) + CONVERT(numeric, ISNULL(MAR_COST,0)) + CONVERT(numeric, ISNULL(APR_COST,0)) + CONVERT(numeric, ISNULL(MAY_COST,0))
				 + CONVERT(numeric, ISNULL(JUN_COST,0)) + CONVERT(numeric, ISNULL(JUL_COST,0)) + CONVERT(numeric, ISNULL(AUG_COST,0)) + CONVERT(numeric, ISNULL(SEP_COST,0)) + CONVERT(numeric, ISNULL(OCT_COST,0))
				 + CONVERT(numeric, ISNULL(NOV_COST,0)) + CONVERT(numeric, ISNULL(DEC_COST,0)),0) TOTAL_COST
				,ISNULL(AA.QTY1 ,0) QTY1
				,ISNULL(AA.COST1,0) COST1
				,ISNULL(BB.QTY2 ,0) QTY2
				,ISNULL(BB.COST2,0) COST2
				,ISNULL(CC.QTY3 ,0) QTY3
				,ISNULL(CC.COST3,0) COST3
				,ISNULL(DD.QTY4 ,0) QTY4
				,ISNULL(DD.COST4,0) COST4
			FROM TB_SALES_PLAN_ADM A LEFT OUTER JOIN
			(SELECT  
				B.DEAL_CORP_CD
				,C.GIJONG_CD
				,SUM(A.OUTPUT_QTY) QTY1	
				,SUM(A.OUTPUT_QTY * COST_UNIT) COST1
			FROM TB_PURCHASE_ORDER_OUTPUT_HIST A, TB_PURCHASE_ORDER_ADM B, TB_GOODS_CODE_ADM C
			WHERE A.PO_SEQ = B.PO_SEQ
				AND B.GOODS_CD = C.GOODS_CD	
				AND OUTPUT_HIST_DATE >= #{planYear} +'0101'
				AND OUTPUT_HIST_DATE <= #{planYear} + '0331'
			GROUP BY B.DEAL_CORP_CD,C.GIJONG_CD
			) AA ON AA.GIJONG_CD = A.GIJONG_CD AND AA.DEAL_CORP_CD = A.DEAL_CORP_CD
			LEFT OUTER JOIN (SELECT  
				B.DEAL_CORP_CD
				,C.GIJONG_CD
				,SUM(A.OUTPUT_QTY) QTY2
				,SUM(A.OUTPUT_QTY * COST_UNIT) COST2
			FROM TB_PURCHASE_ORDER_OUTPUT_HIST A, TB_PURCHASE_ORDER_ADM B, TB_GOODS_CODE_ADM C
			WHERE A.PO_SEQ = B.PO_SEQ
				AND B.GOODS_CD = C.GOODS_CD	
				AND OUTPUT_HIST_DATE >= #{planYear}+'0401'
				AND OUTPUT_HIST_DATE <= #{planYear}+'0631'
			GROUP BY B.DEAL_CORP_CD,C.GIJONG_CD
			) BB ON BB.GIJONG_CD = A.GIJONG_CD AND BB.DEAL_CORP_CD = A.DEAL_CORP_CD
			LEFT OUTER JOIN (SELECT  
				B.DEAL_CORP_CD
				,C.GIJONG_CD
				,SUM(A.OUTPUT_QTY) QTY3	
				,SUM(A.OUTPUT_QTY * COST_UNIT) COST3
			FROM TB_PURCHASE_ORDER_OUTPUT_HIST A, TB_PURCHASE_ORDER_ADM B, TB_GOODS_CODE_ADM C
			WHERE A.PO_SEQ = B.PO_SEQ
				AND B.GOODS_CD = C.GOODS_CD	
				AND OUTPUT_HIST_DATE >= #{planYear}+'0701'
				AND OUTPUT_HIST_DATE <= #{planYear}+'0931'
			GROUP BY B.DEAL_CORP_CD,C.GIJONG_CD
			) CC ON CC.GIJONG_CD = A.GIJONG_CD AND CC.DEAL_CORP_CD = A.DEAL_CORP_CD
			LEFT OUTER JOIN (SELECT  
				B.DEAL_CORP_CD
				,C.GIJONG_CD
				,SUM(A.OUTPUT_QTY) QTY4
				,SUM(A.OUTPUT_QTY * COST_UNIT) COST4
			FROM TB_PURCHASE_ORDER_OUTPUT_HIST A, TB_PURCHASE_ORDER_ADM B, TB_GOODS_CODE_ADM C
			WHERE A.PO_SEQ = B.PO_SEQ
				AND B.GOODS_CD = C.GOODS_CD	
				AND OUTPUT_HIST_DATE >= #{planYear}+'1001'
				AND OUTPUT_HIST_DATE <= #{planYear}+'1231'
			GROUP BY B.DEAL_CORP_CD,C.GIJONG_CD
			) DD ON DD.GIJONG_CD = A.GIJONG_CD AND DD.DEAL_CORP_CD = A.DEAL_CORP_CD
			WHERE 1=1
			AND PLAN_YEAR = #{planYear}
			order by A.DEAL_CORP_CD
		]]>
	</select>
		
		
		<select id="monthList" resultMap="SalesPlanAdmVo">
		<![CDATA[
					SELECT DISTINCT
				A.DEAL_CORP_CD
				, (SELECT DEAL_CORP_NM FROM TB_DEAL_CORP_ADM B WHERE B.DEAL_CORP_CD = A.DEAL_CORP_CD) DEAL_CORP_NM
				, A.GIJONG_CD
				, (SELECT BASE_CD_NM FROM TB_SYSTEM_COMMON_CODE C WHERE C.BASE_GROUP_CD = '080' AND A.GIJONG_CD = C.BASE_CD ) GIJONG_NM	
				,PLAN_YEAR
			   ,[JAN_CNT]
			  ,[JAN_COST]
			  ,[FEB_CNT]
			  ,[FEB_COST]
			  ,[MAR_CNT]
			  ,[MAR_COST]
			  ,[APR_CNT]
			  ,[APR_COST]
			  ,[MAY_CNT]
			  ,[MAY_COST]
			  ,[JUN_CNT]
			  ,[JUN_COST]
			  ,[JUL_CNT]
			  ,[JUL_COST]
			  ,[AUG_CNT]
			  ,[AUG_COST]
			  ,[SEP_CNT]
			  ,[SEP_COST]
			  ,[OCT_CNT]
			  ,[OCT_COST]
			  ,[NOV_CNT]
			  ,[NOV_COST]
			  ,[DEC_CNT]
			  ,[DEC_COST]
	 	  ,ISNULL( CONVERT(numeric, ISNULL(JAN_CNT,0))  + CONVERT(numeric, ISNULL(FEB_CNT,0)) + CONVERT(numeric, ISNULL(MAR_CNT,0)) + CONVERT(numeric, ISNULL(APR_CNT,0)) + CONVERT(numeric, ISNULL(MAY_CNT,0))
				 + CONVERT(numeric, ISNULL(JUN_CNT,0))  + CONVERT(numeric, ISNULL(JUL_CNT,0)) + CONVERT(numeric, ISNULL(AUG_CNT,0)) + CONVERT(numeric, ISNULL(SEP_CNT,0)) + CONVERT(numeric, ISNULL(OCT_CNT,0))
				 + CONVERT(numeric, ISNULL(NOV_CNT,0))  + CONVERT(numeric, ISNULL(DEC_CNT,0)),0) TOTAL_CNT
		  ,ISNULL( CONVERT(numeric, ISNULL(JAN_COST,0)) + CONVERT(numeric, ISNULL(FEB_COST,0)) + CONVERT(numeric, ISNULL(MAR_COST,0)) + CONVERT(numeric, ISNULL(APR_COST,0)) + CONVERT(numeric, ISNULL(MAY_COST,0))
				 + CONVERT(numeric, ISNULL(JUN_COST,0)) + CONVERT(numeric, ISNULL(JUL_COST,0)) + CONVERT(numeric, ISNULL(AUG_COST,0)) + CONVERT(numeric, ISNULL(SEP_COST,0)) + CONVERT(numeric, ISNULL(OCT_COST,0))
				 + CONVERT(numeric, ISNULL(NOV_COST,0)) + CONVERT(numeric, ISNULL(DEC_COST,0)),0) TOTAL_COST
				,ISNULL(AA.QTY1 ,0) QTY1
				,ISNULL(AA.COST1,0) COST1
				,ISNULL(BB.QTY2 ,0) QTY2
				,ISNULL(BB.COST2,0) COST2
				,ISNULL(CC.QTY3 ,0) QTY3
				,ISNULL(CC.COST3,0) COST3
				,ISNULL(DD.QTY4 ,0) QTY4
				,ISNULL(DD.COST4,0) COST4
				,ISNULL(EE.QTY5 ,0) QTY5
				,ISNULL(EE.COST5,0) COST5
				,ISNULL(FF.QTY6 ,0) QTY6
				,ISNULL(FF.COST6,0) COST6
				,ISNULL(LL.QTY7 ,0) QTY7
				,ISNULL(LL.COST7,0) COST7
				,ISNULL(GG.QTY8 ,0) QTY8
				,ISNULL(GG.COST8,0) COST8
				,ISNULL(HH.QTY9 ,0) QTY9
				,ISNULL(HH.COST9,0) COST9
				,ISNULL(II.QTY10 ,0) QTY10
				,ISNULL(II.COST10,0) COST10
				,ISNULL(JJ.QTY11 ,0) QTY11
				,ISNULL(JJ.COST11,0) COST11
				,ISNULL(KK.QTY12 ,0) QTY12
				,ISNULL(KK.COST12,0) COST12
			FROM TB_SALES_PLAN_ADM A LEFT OUTER JOIN
			(SELECT  
				B.DEAL_CORP_CD
				,C.GIJONG_CD
				,SUM(A.OUTPUT_QTY) QTY1	
				,SUM(A.OUTPUT_QTY * COST_UNIT) COST1
			FROM TB_PURCHASE_ORDER_OUTPUT_HIST A, TB_PURCHASE_ORDER_ADM B, TB_GOODS_CODE_ADM C
			WHERE A.PO_SEQ = B.PO_SEQ
				AND B.GOODS_CD = C.GOODS_CD	
				AND LEFT(OUTPUT_HIST_DATE,6) = #{planYear}+'01'				
			GROUP BY B.DEAL_CORP_CD,C.GIJONG_CD
			) AA ON AA.GIJONG_CD = A.GIJONG_CD AND AA.DEAL_CORP_CD = A.DEAL_CORP_CD

			LEFT OUTER JOIN (SELECT  
				B.DEAL_CORP_CD
				,C.GIJONG_CD
				,SUM(A.OUTPUT_QTY) QTY2
				,SUM(A.OUTPUT_QTY * COST_UNIT) COST2
			FROM TB_PURCHASE_ORDER_OUTPUT_HIST A, TB_PURCHASE_ORDER_ADM B, TB_GOODS_CODE_ADM C
			WHERE A.PO_SEQ = B.PO_SEQ
				AND B.GOODS_CD = C.GOODS_CD	
				AND LEFT(OUTPUT_HIST_DATE,6) = #{planYear}+'02'				
			GROUP BY B.DEAL_CORP_CD,C.GIJONG_CD
			) BB ON BB.GIJONG_CD = A.GIJONG_CD AND BB.DEAL_CORP_CD = A.DEAL_CORP_CD

			LEFT OUTER JOIN (SELECT  
				B.DEAL_CORP_CD
				,C.GIJONG_CD
				,SUM(A.OUTPUT_QTY) QTY3	
				,SUM(A.OUTPUT_QTY * COST_UNIT) COST3
			FROM TB_PURCHASE_ORDER_OUTPUT_HIST A, TB_PURCHASE_ORDER_ADM B, TB_GOODS_CODE_ADM C
			WHERE A.PO_SEQ = B.PO_SEQ
				AND B.GOODS_CD = C.GOODS_CD	
			AND LEFT(OUTPUT_HIST_DATE,6) = #{planYear}+'03'				
			GROUP BY B.DEAL_CORP_CD,C.GIJONG_CD
			) CC ON CC.GIJONG_CD = A.GIJONG_CD AND CC.DEAL_CORP_CD = A.DEAL_CORP_CD

			LEFT OUTER JOIN (SELECT  
				B.DEAL_CORP_CD
				,C.GIJONG_CD
				,SUM(A.OUTPUT_QTY) QTY4
				,SUM(A.OUTPUT_QTY * COST_UNIT) COST4
			FROM TB_PURCHASE_ORDER_OUTPUT_HIST A, TB_PURCHASE_ORDER_ADM B, TB_GOODS_CODE_ADM C
			WHERE A.PO_SEQ = B.PO_SEQ
				AND B.GOODS_CD = C.GOODS_CD	
				AND LEFT(OUTPUT_HIST_DATE,6) = #{planYear}+'04'				
			GROUP BY B.DEAL_CORP_CD,C.GIJONG_CD
			) DD ON DD.GIJONG_CD = A.GIJONG_CD AND DD.DEAL_CORP_CD = A.DEAL_CORP_CD

			LEFT OUTER JOIN (SELECT  
				B.DEAL_CORP_CD
				,C.GIJONG_CD
				,SUM(A.OUTPUT_QTY) QTY5
				,SUM(A.OUTPUT_QTY * COST_UNIT) COST5
			FROM TB_PURCHASE_ORDER_OUTPUT_HIST A, TB_PURCHASE_ORDER_ADM B, TB_GOODS_CODE_ADM C
			WHERE A.PO_SEQ = B.PO_SEQ
				AND B.GOODS_CD = C.GOODS_CD	
				AND LEFT(OUTPUT_HIST_DATE,6) = #{planYear}+'05'				
			GROUP BY B.DEAL_CORP_CD,C.GIJONG_CD
			)  EE ON EE.GIJONG_CD = A.GIJONG_CD AND EE.DEAL_CORP_CD = A.DEAL_CORP_CD

			LEFT OUTER JOIN (SELECT  
				B.DEAL_CORP_CD
				,C.GIJONG_CD
				,SUM(A.OUTPUT_QTY) QTY6
				,SUM(A.OUTPUT_QTY * COST_UNIT) COST6
			FROM TB_PURCHASE_ORDER_OUTPUT_HIST A, TB_PURCHASE_ORDER_ADM B, TB_GOODS_CODE_ADM C
			WHERE A.PO_SEQ = B.PO_SEQ
				AND B.GOODS_CD = C.GOODS_CD	
				AND LEFT(OUTPUT_HIST_DATE,6) = #{planYear}+'06'				
			GROUP BY B.DEAL_CORP_CD,C.GIJONG_CD
			) FF ON FF.GIJONG_CD = A.GIJONG_CD AND FF.DEAL_CORP_CD = A.DEAL_CORP_CD

			LEFT OUTER JOIN (SELECT  
				B.DEAL_CORP_CD
				,C.GIJONG_CD
				,SUM(A.OUTPUT_QTY) QTY7
				,SUM(A.OUTPUT_QTY * COST_UNIT) COST7
			FROM TB_PURCHASE_ORDER_OUTPUT_HIST A, TB_PURCHASE_ORDER_ADM B, TB_GOODS_CODE_ADM C
			WHERE A.PO_SEQ = B.PO_SEQ
				AND B.GOODS_CD = C.GOODS_CD	
				AND LEFT(OUTPUT_HIST_DATE,6) = #{planYear}+'07'				
			GROUP BY B.DEAL_CORP_CD,C.GIJONG_CD
			) LL ON LL.GIJONG_CD = A.GIJONG_CD AND LL.DEAL_CORP_CD = A.DEAL_CORP_CD

			LEFT OUTER JOIN (SELECT  
				B.DEAL_CORP_CD
				,C.GIJONG_CD
				,SUM(A.OUTPUT_QTY) QTY8
				,SUM(A.OUTPUT_QTY * COST_UNIT) COST8
			FROM TB_PURCHASE_ORDER_OUTPUT_HIST A, TB_PURCHASE_ORDER_ADM B, TB_GOODS_CODE_ADM C
			WHERE A.PO_SEQ = B.PO_SEQ
				AND B.GOODS_CD = C.GOODS_CD	
				AND LEFT(OUTPUT_HIST_DATE,6) = #{planYear}+'08'				
			GROUP BY B.DEAL_CORP_CD,C.GIJONG_CD
			) GG ON GG.GIJONG_CD = A.GIJONG_CD AND GG.DEAL_CORP_CD = A.DEAL_CORP_CD
			LEFT OUTER JOIN (SELECT  
				B.DEAL_CORP_CD
				,C.GIJONG_CD
				,SUM(A.OUTPUT_QTY) QTY9
				,SUM(A.OUTPUT_QTY * COST_UNIT) COST9
			FROM TB_PURCHASE_ORDER_OUTPUT_HIST A, TB_PURCHASE_ORDER_ADM B, TB_GOODS_CODE_ADM C
			WHERE A.PO_SEQ = B.PO_SEQ
				AND B.GOODS_CD = C.GOODS_CD	
				AND LEFT(OUTPUT_HIST_DATE,6) = #{planYear}+'09'				
			GROUP BY B.DEAL_CORP_CD,C.GIJONG_CD
			) HH ON HH.GIJONG_CD = A.GIJONG_CD AND HH.DEAL_CORP_CD = A.DEAL_CORP_CD
			LEFT OUTER JOIN (SELECT  
				B.DEAL_CORP_CD
				,C.GIJONG_CD
				,SUM(A.OUTPUT_QTY) QTY10
				,SUM(A.OUTPUT_QTY * COST_UNIT) COST10
			FROM TB_PURCHASE_ORDER_OUTPUT_HIST A, TB_PURCHASE_ORDER_ADM B, TB_GOODS_CODE_ADM C
			WHERE A.PO_SEQ = B.PO_SEQ
				AND B.GOODS_CD = C.GOODS_CD	
				AND LEFT(OUTPUT_HIST_DATE,6) = #{planYear}+'10'				
			GROUP BY B.DEAL_CORP_CD,C.GIJONG_CD
			) II ON II.GIJONG_CD = A.GIJONG_CD AND II.DEAL_CORP_CD = A.DEAL_CORP_CD
			LEFT OUTER JOIN (SELECT  
				B.DEAL_CORP_CD
				,C.GIJONG_CD
				,SUM(A.OUTPUT_QTY) QTY11
				,SUM(A.OUTPUT_QTY * COST_UNIT) COST11
			FROM TB_PURCHASE_ORDER_OUTPUT_HIST A, TB_PURCHASE_ORDER_ADM B, TB_GOODS_CODE_ADM C
			WHERE A.PO_SEQ = B.PO_SEQ
				AND B.GOODS_CD = C.GOODS_CD	
				AND LEFT(OUTPUT_HIST_DATE,6) = #{planYear}+'11'				
			GROUP BY B.DEAL_CORP_CD,C.GIJONG_CD
			) JJ ON JJ.GIJONG_CD = A.GIJONG_CD AND JJ.DEAL_CORP_CD = A.DEAL_CORP_CD
			LEFT OUTER JOIN (SELECT  
				B.DEAL_CORP_CD
				,C.GIJONG_CD
				,SUM(A.OUTPUT_QTY) QTY12
				,SUM(A.OUTPUT_QTY * COST_UNIT) COST12
			FROM TB_PURCHASE_ORDER_OUTPUT_HIST A, TB_PURCHASE_ORDER_ADM B, TB_GOODS_CODE_ADM C
			WHERE A.PO_SEQ = B.PO_SEQ
				AND B.GOODS_CD = C.GOODS_CD	
				AND LEFT(OUTPUT_HIST_DATE,6) = #{planYear}+'12'				
			GROUP BY B.DEAL_CORP_CD,C.GIJONG_CD
			) KK ON KK.GIJONG_CD = A.GIJONG_CD AND KK.DEAL_CORP_CD = A.DEAL_CORP_CD		
			WHERE 1=1
			AND PLAN_YEAR = #{planYear}
			order by A.DEAL_CORP_CD
			
		]]>
	</select>
	
	<select id="allSalesList" resultMap="SalesPlanAdmVo">
		<![CDATA[
		SET ANSI_WARNINGS OFF

		SET ARITHIGNORE ON

		SET ARITHABORT OFF

		SELECT DISTINCT	
			A.DEAL_CORP_CD
				, (SELECT DEAL_CORP_NM FROM TB_DEAL_CORP_ADM B WHERE B.DEAL_CORP_CD = A.DEAL_CORP_CD) DEAL_CORP_NM
				, A.GIJONG_CD
				, (SELECT BASE_CD_NM FROM TB_SYSTEM_COMMON_CODE C WHERE C.BASE_GROUP_CD = '080' AND A.GIJONG_CD = C.BASE_CD ) GIJONG_NM	
				,PLAN_YEAR
				,'1' orderby
			   ,[JAN_CNT]
			  ,[JAN_COST]
			  ,[FEB_CNT]
			  ,[FEB_COST]
			  ,[MAR_CNT]
			  ,[MAR_COST]
			  ,[APR_CNT]
			  ,[APR_COST]
			  ,[MAY_CNT]
			  ,[MAY_COST]
			  ,[JUN_CNT]
			  ,[JUN_COST]
			  ,[JUL_CNT]
			  ,[JUL_COST]
			  ,[AUG_CNT]
			  ,[AUG_COST]
			  ,[SEP_CNT]
			  ,[SEP_COST]
			  ,[OCT_CNT]
			  ,[OCT_COST]
			  ,[NOV_CNT]
			  ,[NOV_COST]
			  ,[DEC_CNT]
			  ,[DEC_COST]
			 ,ISNULL( CONVERT(numeric, ISNULL(JAN_CNT,0))  + CONVERT(numeric, ISNULL(FEB_CNT,0)) + CONVERT(numeric, ISNULL(MAR_CNT,0)) + CONVERT(numeric, ISNULL(APR_CNT,0)) + CONVERT(numeric, ISNULL(MAY_CNT,0))
				 + CONVERT(numeric, ISNULL(JUN_CNT,0))  + CONVERT(numeric, ISNULL(JUL_CNT,0)) + CONVERT(numeric, ISNULL(AUG_CNT,0)) + CONVERT(numeric, ISNULL(SEP_CNT,0)) + CONVERT(numeric, ISNULL(OCT_CNT,0))
				 + CONVERT(numeric, ISNULL(NOV_CNT,0))  + CONVERT(numeric, ISNULL(DEC_CNT,0)),0) TOTAL_CNT
		 	 ,ISNULL( CONVERT(numeric, ISNULL(JAN_COST,0)) + CONVERT(numeric, ISNULL(FEB_COST,0)) + CONVERT(numeric, ISNULL(MAR_COST,0)) + CONVERT(numeric, ISNULL(APR_COST,0)) + CONVERT(numeric, ISNULL(MAY_COST,0))
				 + CONVERT(numeric, ISNULL(JUN_COST,0)) + CONVERT(numeric, ISNULL(JUL_COST,0)) + CONVERT(numeric, ISNULL(AUG_COST,0)) + CONVERT(numeric, ISNULL(SEP_COST,0)) + CONVERT(numeric, ISNULL(OCT_COST,0))
				 + CONVERT(numeric, ISNULL(NOV_COST,0)) + CONVERT(numeric, ISNULL(DEC_COST,0)),0) TOTAL_COST
				
			FROM TB_SALES_PLAN_ADM A 		
			WHERE 1=1
			AND PLAN_YEAR = #{planYear}

			UNION ALL

			SELECT 
				A.DEAL_CORP_CD
				, (SELECT DEAL_CORP_NM FROM TB_DEAL_CORP_ADM B WHERE B.DEAL_CORP_CD = A.DEAL_CORP_CD) DEAL_CORP_NM
				, A.GIJONG_CD
				, (SELECT BASE_CD_NM FROM TB_SYSTEM_COMMON_CODE C WHERE C.BASE_GROUP_CD = '080' AND A.GIJONG_CD = C.BASE_CD ) GIJONG_NM	
				,PLAN_YEAR
				,'2' orderby
				,ISNULL(AA.QTY1 ,0) QTY1
				,ISNULL(AA.COST1,0) COST1
				,ISNULL(BB.QTY2 ,0) QTY2
				,ISNULL(BB.COST2,0) COST2
				,ISNULL(CC.QTY3 ,0) QTY3
				,ISNULL(CC.COST3,0) COST3
				,ISNULL(DD.QTY4 ,0) QTY4
				,ISNULL(DD.COST4,0) COST4
				,ISNULL(EE.QTY5 ,0) QTY5
				,ISNULL(EE.COST5,0) COST5
				,ISNULL(FF.QTY6 ,0) QTY6
				,ISNULL(FF.COST6,0) COST6
				,ISNULL(LL.QTY7 ,0) QTY7
				,ISNULL(LL.COST7,0) COST7
				,ISNULL(GG.QTY8 ,0) QTY8
				,ISNULL(GG.COST8,0) COST8
				,ISNULL(HH.QTY9 ,0) QTY9
				,ISNULL(HH.COST9,0) COST9
				,ISNULL(II.QTY10 ,0) QTY10
				,ISNULL(II.COST10,0) COST10
				,ISNULL(JJ.QTY11 ,0) QTY11
				,ISNULL(JJ.COST11,0) COST11
				,ISNULL(KK.QTY12 ,0) QTY12
				,ISNULL(KK.COST12,0) COST12
				 ,ISNULL(CONVERT(numeric,ISNULL(QTY1,0)) + CONVERT(numeric, ISNULL(QTY2,0)) + CONVERT(numeric, ISNULL(QTY3,0)) + CONVERT(numeric, ISNULL(QTY4,0)) + CONVERT(numeric, ISNULL(QTY5,0))
				 + CONVERT(numeric, ISNULL(QTY6,0)) + CONVERT(numeric, ISNULL(QTY7,0)) + CONVERT(numeric, ISNULL(QTY8,0)) + CONVERT(numeric, ISNULL(QTY9,0)) + CONVERT(numeric, ISNULL(QTY10,0))
				 + CONVERT(numeric, ISNULL(QTY11,0)) + CONVERT(numeric, ISNULL(QTY12,0)),0) TOTAL_CNT
				, ISNULL(CONVERT(numeric, ISNULL(COST1,0)) + CONVERT(numeric, ISNULL(COST2,0)) + CONVERT(numeric, ISNULL(COST3,0)) + CONVERT(numeric, ISNULL(COST4,0)) + CONVERT(numeric, ISNULL(COST5,0))
				 + CONVERT(numeric, ISNULL(COST6,0)) + CONVERT(numeric, ISNULL(COST7,0)) + CONVERT(numeric, ISNULL(COST8,0)) + CONVERT(numeric, ISNULL(COST9,0)) + CONVERT(numeric, ISNULL(COST10,0))
				 + CONVERT(numeric, ISNULL(COST11,0)) + CONVERT(numeric, ISNULL(COST12,0)),0) TOTAL_COST
			FROM TB_SALES_PLAN_ADM A LEFT OUTER JOIN
				(SELECT  
				B.DEAL_CORP_CD
				,C.GIJONG_CD
				,SUM(A.OUTPUT_QTY) QTY1	
				,SUM(A.OUTPUT_QTY * COST_UNIT) COST1
			FROM TB_PURCHASE_ORDER_OUTPUT_HIST A, TB_PURCHASE_ORDER_ADM B, TB_GOODS_CODE_ADM C
			WHERE A.PO_SEQ = B.PO_SEQ
				AND B.GOODS_CD = C.GOODS_CD	
				AND LEFT(OUTPUT_HIST_DATE,6) = #{planYear}+'01'				
			GROUP BY B.DEAL_CORP_CD,C.GIJONG_CD
			) AA ON AA.GIJONG_CD = A.GIJONG_CD AND AA.DEAL_CORP_CD = A.DEAL_CORP_CD
			LEFT OUTER JOIN (SELECT  
				B.DEAL_CORP_CD
				,C.GIJONG_CD
				,SUM(A.OUTPUT_QTY) QTY2
				,SUM(A.OUTPUT_QTY * COST_UNIT) COST2
			FROM TB_PURCHASE_ORDER_OUTPUT_HIST A, TB_PURCHASE_ORDER_ADM B, TB_GOODS_CODE_ADM C
			WHERE A.PO_SEQ = B.PO_SEQ
				AND B.GOODS_CD = C.GOODS_CD	
				AND LEFT(OUTPUT_HIST_DATE,6) = #{planYear}+'02'				
			GROUP BY B.DEAL_CORP_CD,C.GIJONG_CD
			) BB ON BB.GIJONG_CD = A.GIJONG_CD AND BB.DEAL_CORP_CD = A.DEAL_CORP_CD

			LEFT OUTER JOIN (SELECT  
				B.DEAL_CORP_CD
				,C.GIJONG_CD
				,SUM(A.OUTPUT_QTY) QTY3	
				,SUM(A.OUTPUT_QTY * COST_UNIT) COST3
			FROM TB_PURCHASE_ORDER_OUTPUT_HIST A, TB_PURCHASE_ORDER_ADM B, TB_GOODS_CODE_ADM C
			WHERE A.PO_SEQ = B.PO_SEQ
				AND B.GOODS_CD = C.GOODS_CD	
			AND LEFT(OUTPUT_HIST_DATE,6) = #{planYear}+'03'				
			GROUP BY B.DEAL_CORP_CD,C.GIJONG_CD
			) CC ON CC.GIJONG_CD = A.GIJONG_CD AND CC.DEAL_CORP_CD = A.DEAL_CORP_CD

			LEFT OUTER JOIN (SELECT  
				B.DEAL_CORP_CD
				,C.GIJONG_CD
				,SUM(A.OUTPUT_QTY) QTY4
				,SUM(A.OUTPUT_QTY * COST_UNIT) COST4
			FROM TB_PURCHASE_ORDER_OUTPUT_HIST A, TB_PURCHASE_ORDER_ADM B, TB_GOODS_CODE_ADM C
			WHERE A.PO_SEQ = B.PO_SEQ
				AND B.GOODS_CD = C.GOODS_CD	
				AND LEFT(OUTPUT_HIST_DATE,6) = #{planYear}+'04'				
			GROUP BY B.DEAL_CORP_CD,C.GIJONG_CD
			) DD ON DD.GIJONG_CD = A.GIJONG_CD AND DD.DEAL_CORP_CD = A.DEAL_CORP_CD

			LEFT OUTER JOIN (SELECT  
				B.DEAL_CORP_CD
				,C.GIJONG_CD
				,SUM(A.OUTPUT_QTY) QTY5
				,SUM(A.OUTPUT_QTY * COST_UNIT) COST5
			FROM TB_PURCHASE_ORDER_OUTPUT_HIST A, TB_PURCHASE_ORDER_ADM B, TB_GOODS_CODE_ADM C
			WHERE A.PO_SEQ = B.PO_SEQ
				AND B.GOODS_CD = C.GOODS_CD	
				AND LEFT(OUTPUT_HIST_DATE,6) = #{planYear}+'05'				
			GROUP BY B.DEAL_CORP_CD,C.GIJONG_CD
			)  EE ON EE.GIJONG_CD = A.GIJONG_CD AND EE.DEAL_CORP_CD = A.DEAL_CORP_CD

			LEFT OUTER JOIN (SELECT  
				B.DEAL_CORP_CD
				,C.GIJONG_CD
				,SUM(A.OUTPUT_QTY) QTY6
				,SUM(A.OUTPUT_QTY * COST_UNIT) COST6
			FROM TB_PURCHASE_ORDER_OUTPUT_HIST A, TB_PURCHASE_ORDER_ADM B, TB_GOODS_CODE_ADM C
			WHERE A.PO_SEQ = B.PO_SEQ
				AND B.GOODS_CD = C.GOODS_CD	
				AND LEFT(OUTPUT_HIST_DATE,6) = #{planYear}+'06'				
			GROUP BY B.DEAL_CORP_CD,C.GIJONG_CD
			) FF ON FF.GIJONG_CD = A.GIJONG_CD AND FF.DEAL_CORP_CD = A.DEAL_CORP_CD

			LEFT OUTER JOIN (SELECT  
				B.DEAL_CORP_CD
				,C.GIJONG_CD
				,SUM(A.OUTPUT_QTY) QTY7
				,SUM(A.OUTPUT_QTY * COST_UNIT) COST7
			FROM TB_PURCHASE_ORDER_OUTPUT_HIST A, TB_PURCHASE_ORDER_ADM B, TB_GOODS_CODE_ADM C
			WHERE A.PO_SEQ = B.PO_SEQ
				AND B.GOODS_CD = C.GOODS_CD	
				AND LEFT(OUTPUT_HIST_DATE,6) = #{planYear}+'07'				
			GROUP BY B.DEAL_CORP_CD,C.GIJONG_CD
			) LL ON LL.GIJONG_CD = A.GIJONG_CD AND LL.DEAL_CORP_CD = A.DEAL_CORP_CD

			LEFT OUTER JOIN (SELECT  
				B.DEAL_CORP_CD
				,C.GIJONG_CD
				,SUM(A.OUTPUT_QTY) QTY8
				,SUM(A.OUTPUT_QTY * COST_UNIT) COST8
			FROM TB_PURCHASE_ORDER_OUTPUT_HIST A, TB_PURCHASE_ORDER_ADM B, TB_GOODS_CODE_ADM C
			WHERE A.PO_SEQ = B.PO_SEQ
				AND B.GOODS_CD = C.GOODS_CD	
				AND LEFT(OUTPUT_HIST_DATE,6) = #{planYear}+'08'				
			GROUP BY B.DEAL_CORP_CD,C.GIJONG_CD
			) GG ON GG.GIJONG_CD = A.GIJONG_CD AND GG.DEAL_CORP_CD = A.DEAL_CORP_CD
			LEFT OUTER JOIN (SELECT  
				B.DEAL_CORP_CD
				,C.GIJONG_CD
				,SUM(A.OUTPUT_QTY) QTY9
				,SUM(A.OUTPUT_QTY * COST_UNIT) COST9
			FROM TB_PURCHASE_ORDER_OUTPUT_HIST A, TB_PURCHASE_ORDER_ADM B, TB_GOODS_CODE_ADM C
			WHERE A.PO_SEQ = B.PO_SEQ
				AND B.GOODS_CD = C.GOODS_CD	
				AND LEFT(OUTPUT_HIST_DATE,6) = #{planYear}+'09'				
			GROUP BY B.DEAL_CORP_CD,C.GIJONG_CD
			) HH ON HH.GIJONG_CD = A.GIJONG_CD AND HH.DEAL_CORP_CD = A.DEAL_CORP_CD
			LEFT OUTER JOIN (SELECT  
				B.DEAL_CORP_CD
				,C.GIJONG_CD
				,SUM(A.OUTPUT_QTY) QTY10
				,SUM(A.OUTPUT_QTY * COST_UNIT) COST10
			FROM TB_PURCHASE_ORDER_OUTPUT_HIST A, TB_PURCHASE_ORDER_ADM B, TB_GOODS_CODE_ADM C
			WHERE A.PO_SEQ = B.PO_SEQ
				AND B.GOODS_CD = C.GOODS_CD	
				AND LEFT(OUTPUT_HIST_DATE,6) = #{planYear}+'10'				
			GROUP BY B.DEAL_CORP_CD,C.GIJONG_CD
			) II ON II.GIJONG_CD = A.GIJONG_CD AND II.DEAL_CORP_CD = A.DEAL_CORP_CD
			LEFT OUTER JOIN (SELECT  
				B.DEAL_CORP_CD
				,C.GIJONG_CD
				,SUM(A.OUTPUT_QTY) QTY11
				,SUM(A.OUTPUT_QTY * COST_UNIT) COST11
			FROM TB_PURCHASE_ORDER_OUTPUT_HIST A, TB_PURCHASE_ORDER_ADM B, TB_GOODS_CODE_ADM C
			WHERE A.PO_SEQ = B.PO_SEQ
				AND B.GOODS_CD = C.GOODS_CD	
				AND LEFT(OUTPUT_HIST_DATE,6) = #{planYear}+'11'				
			GROUP BY B.DEAL_CORP_CD,C.GIJONG_CD
			) JJ ON JJ.GIJONG_CD = A.GIJONG_CD AND JJ.DEAL_CORP_CD = A.DEAL_CORP_CD
			LEFT OUTER JOIN (SELECT  
				B.DEAL_CORP_CD
				,C.GIJONG_CD
				,SUM(A.OUTPUT_QTY) QTY12
				,SUM(A.OUTPUT_QTY * COST_UNIT) COST12
			FROM TB_PURCHASE_ORDER_OUTPUT_HIST A, TB_PURCHASE_ORDER_ADM B, TB_GOODS_CODE_ADM C
			WHERE A.PO_SEQ = B.PO_SEQ
				AND B.GOODS_CD = C.GOODS_CD	
				AND LEFT(OUTPUT_HIST_DATE,6) = #{planYear}+'12'				
			GROUP BY B.DEAL_CORP_CD,C.GIJONG_CD
			) KK ON KK.GIJONG_CD = A.GIJONG_CD AND KK.DEAL_CORP_CD = A.DEAL_CORP_CD		
			WHERE 1=1
			AND PLAN_YEAR = #{planYear}		

			UNION ALL


			SELECT 
				A.DEAL_CORP_CD
				, (SELECT DEAL_CORP_NM FROM TB_DEAL_CORP_ADM B WHERE B.DEAL_CORP_CD = A.DEAL_CORP_CD) DEAL_CORP_NM
				, A.GIJONG_CD
				, (SELECT BASE_CD_NM FROM TB_SYSTEM_COMMON_CODE C WHERE C.BASE_GROUP_CD = '080' AND A.GIJONG_CD = C.BASE_CD ) GIJONG_NM	
				,PLAN_YEAR
				,'3' orderby
				,ISNULL(AA.QTY1 / A.JAN_CNT *100 ,0) QTY1
				,ISNULL(AA.COST1 / A.JAN_COST *100,0) COST1
				,ISNULL(BB.QTY2 / FEB_CNT *100,0) QTY2
				,ISNULL(BB.COST2 / FEB_COST *100,0) COST2
				,ISNULL(CC.QTY3 / MAR_CNT *100,0) QTY3
				,ISNULL(CC.COST3 / MAR_COST *100,0) COST3
				,ISNULL(DD.QTY4 / APR_CNT *100,0) QTY4
				,ISNULL(DD.COST4 / APR_COST *100,0) COST4
				,ISNULL(EE.QTY5 / MAY_CNT *100,0) QTY5
				,ISNULL(EE.COST5 / MAY_COST *100 ,0) COST5
				,ISNULL(FF.QTY6 / JUN_CNT *100,0) QTY6
				,ISNULL(FF.COST6 / JUN_COST*100 ,0) COST6
				,ISNULL(LL.QTY7 / JUL_CNT *100,0) QTY7
				,ISNULL(LL.COST7 / JUL_COST *100,0) COST7
				,ISNULL(GG.QTY8 / AUG_CNT *100,0) QTY8
				,ISNULL(GG.COST8 / AUG_COST *100,0) COST8
				,ISNULL(HH.QTY9 / SEP_CNT *100,0) QTY9
				,ISNULL(HH.COST9 / SEP_COST *100,0) COST9
				,ISNULL(II.QTY10 / OCT_CNT *100,0) QTY10
				,ISNULL(II.COST10 / OCT_COST *100,0) COST10
				,ISNULL(JJ.QTY11 / NOV_CNT *100,0) QTY11
				,ISNULL(JJ.COST11 / NOV_COST *100,0) COST11
				,ISNULL(KK.QTY12 / DEC_CNT *100,0) QTY12
				,ISNULL(KK.COST12 / DEC_COST *100,0) COST12
				,(ISNULL(CONVERT(numeric,ISNULL(QTY1,0)) + CONVERT(numeric, ISNULL(QTY2,0)) + CONVERT(numeric, ISNULL(QTY3,0)) + CONVERT(numeric, ISNULL(QTY4,0)) + CONVERT(numeric, ISNULL(QTY5,0))
				 + CONVERT(numeric, ISNULL(QTY6,0)) + CONVERT(numeric, ISNULL(QTY7,0)) + CONVERT(numeric, ISNULL(QTY8,0)) + CONVERT(numeric, ISNULL(QTY9,0)) + CONVERT(numeric, ISNULL(QTY10,0))
				 + CONVERT(numeric, ISNULL(QTY11,0)) + CONVERT(numeric, ISNULL(QTY12,0)),0)) / (ISNULL( CONVERT(numeric, ISNULL(JAN_CNT,0))  + CONVERT(numeric, ISNULL(FEB_CNT,0)) + CONVERT(numeric, ISNULL(MAR_CNT,0)) + CONVERT(numeric, ISNULL(APR_CNT,0)) + CONVERT(numeric, ISNULL(MAY_CNT,0))
				 + CONVERT(numeric, ISNULL(JUN_CNT,0))  + CONVERT(numeric, ISNULL(JUL_CNT,0)) + CONVERT(numeric, ISNULL(AUG_CNT,0)) + CONVERT(numeric, ISNULL(SEP_CNT,0)) + CONVERT(numeric, ISNULL(OCT_CNT,0))
				 + CONVERT(numeric, ISNULL(NOV_CNT,0))  + CONVERT(numeric, ISNULL(DEC_CNT,0)),0)) * 100  TOTAL_CNT

				, (ISNULL(CONVERT(numeric, ISNULL(COST1,0)) + CONVERT(numeric, ISNULL(COST2,0)) + CONVERT(numeric, ISNULL(COST3,0)) + CONVERT(numeric, ISNULL(COST4,0)) + CONVERT(numeric, ISNULL(COST5,0))
				 + CONVERT(numeric, ISNULL(COST6,0)) + CONVERT(numeric, ISNULL(COST7,0)) + CONVERT(numeric, ISNULL(COST8,0)) + CONVERT(numeric, ISNULL(COST9,0)) + CONVERT(numeric, ISNULL(COST10,0))
				 + CONVERT(numeric, ISNULL(COST11,0)) + CONVERT(numeric, ISNULL(COST12,0)),0))  / (ISNULL( CONVERT(numeric, ISNULL(JAN_COST,0)) + CONVERT(numeric, ISNULL(FEB_COST,0)) + CONVERT(numeric, ISNULL(MAR_COST,0)) + CONVERT(numeric, ISNULL(APR_COST,0)) + CONVERT(numeric, ISNULL(MAY_COST,0))
				 + CONVERT(numeric, ISNULL(JUN_COST,0)) + CONVERT(numeric, ISNULL(JUL_COST,0)) + CONVERT(numeric, ISNULL(AUG_COST,0)) + CONVERT(numeric, ISNULL(SEP_COST,0)) + CONVERT(numeric, ISNULL(OCT_COST,0))
				 + CONVERT(numeric, ISNULL(NOV_COST,0)) + CONVERT(numeric, ISNULL(DEC_COST,0)),0)) * 100 TOTAL_COST
			FROM TB_SALES_PLAN_ADM A LEFT OUTER JOIN
				(SELECT  
				B.DEAL_CORP_CD
				,C.GIJONG_CD
				,SUM(A.OUTPUT_QTY) QTY1	
				,SUM(A.OUTPUT_QTY * COST_UNIT) COST1
			FROM TB_PURCHASE_ORDER_OUTPUT_HIST A, TB_PURCHASE_ORDER_ADM B, TB_GOODS_CODE_ADM C
			WHERE A.PO_SEQ = B.PO_SEQ
				AND B.GOODS_CD = C.GOODS_CD	
				AND LEFT(OUTPUT_HIST_DATE,6) = #{planYear}+'01'				
			GROUP BY B.DEAL_CORP_CD,C.GIJONG_CD
			) AA ON AA.GIJONG_CD = A.GIJONG_CD AND AA.DEAL_CORP_CD = A.DEAL_CORP_CD
			LEFT OUTER JOIN (SELECT  
				B.DEAL_CORP_CD
				,C.GIJONG_CD
				,SUM(A.OUTPUT_QTY) QTY2
				,SUM(A.OUTPUT_QTY * COST_UNIT) COST2
			FROM TB_PURCHASE_ORDER_OUTPUT_HIST A, TB_PURCHASE_ORDER_ADM B, TB_GOODS_CODE_ADM C
			WHERE A.PO_SEQ = B.PO_SEQ
				AND B.GOODS_CD = C.GOODS_CD	
				AND LEFT(OUTPUT_HIST_DATE,6) = #{planYear}+'02'				
			GROUP BY B.DEAL_CORP_CD,C.GIJONG_CD
			) BB ON BB.GIJONG_CD = A.GIJONG_CD AND BB.DEAL_CORP_CD = A.DEAL_CORP_CD

			LEFT OUTER JOIN (SELECT  
				B.DEAL_CORP_CD
				,C.GIJONG_CD
				,SUM(A.OUTPUT_QTY) QTY3	
				,SUM(A.OUTPUT_QTY * COST_UNIT) COST3
			FROM TB_PURCHASE_ORDER_OUTPUT_HIST A, TB_PURCHASE_ORDER_ADM B, TB_GOODS_CODE_ADM C
			WHERE A.PO_SEQ = B.PO_SEQ
				AND B.GOODS_CD = C.GOODS_CD	
			AND LEFT(OUTPUT_HIST_DATE,6) = #{planYear}+'03'				
			GROUP BY B.DEAL_CORP_CD,C.GIJONG_CD
			) CC ON CC.GIJONG_CD = A.GIJONG_CD AND CC.DEAL_CORP_CD = A.DEAL_CORP_CD

			LEFT OUTER JOIN (SELECT  
				B.DEAL_CORP_CD
				,C.GIJONG_CD
				,SUM(A.OUTPUT_QTY) QTY4
				,SUM(A.OUTPUT_QTY * COST_UNIT) COST4
			FROM TB_PURCHASE_ORDER_OUTPUT_HIST A, TB_PURCHASE_ORDER_ADM B, TB_GOODS_CODE_ADM C
			WHERE A.PO_SEQ = B.PO_SEQ
				AND B.GOODS_CD = C.GOODS_CD	
				AND LEFT(OUTPUT_HIST_DATE,6) = #{planYear}+'04'				
			GROUP BY B.DEAL_CORP_CD,C.GIJONG_CD
			) DD ON DD.GIJONG_CD = A.GIJONG_CD AND DD.DEAL_CORP_CD = A.DEAL_CORP_CD

			LEFT OUTER JOIN (SELECT  
				B.DEAL_CORP_CD
				,C.GIJONG_CD
				,SUM(A.OUTPUT_QTY) QTY5
				,SUM(A.OUTPUT_QTY * COST_UNIT) COST5
			FROM TB_PURCHASE_ORDER_OUTPUT_HIST A, TB_PURCHASE_ORDER_ADM B, TB_GOODS_CODE_ADM C
			WHERE A.PO_SEQ = B.PO_SEQ
				AND B.GOODS_CD = C.GOODS_CD	
				AND LEFT(OUTPUT_HIST_DATE,6) = #{planYear}+'05'				
			GROUP BY B.DEAL_CORP_CD,C.GIJONG_CD
			)  EE ON EE.GIJONG_CD = A.GIJONG_CD AND EE.DEAL_CORP_CD = A.DEAL_CORP_CD

			LEFT OUTER JOIN (SELECT  
				B.DEAL_CORP_CD
				,C.GIJONG_CD
				,SUM(A.OUTPUT_QTY) QTY6
				,SUM(A.OUTPUT_QTY * COST_UNIT) COST6
			FROM TB_PURCHASE_ORDER_OUTPUT_HIST A, TB_PURCHASE_ORDER_ADM B, TB_GOODS_CODE_ADM C
			WHERE A.PO_SEQ = B.PO_SEQ
				AND B.GOODS_CD = C.GOODS_CD	
				AND LEFT(OUTPUT_HIST_DATE,6) = #{planYear}+'06'				
			GROUP BY B.DEAL_CORP_CD,C.GIJONG_CD
			) FF ON FF.GIJONG_CD = A.GIJONG_CD AND FF.DEAL_CORP_CD = A.DEAL_CORP_CD

			LEFT OUTER JOIN (SELECT  
				B.DEAL_CORP_CD
				,C.GIJONG_CD
				,SUM(A.OUTPUT_QTY) QTY7
				,SUM(A.OUTPUT_QTY * COST_UNIT) COST7
			FROM TB_PURCHASE_ORDER_OUTPUT_HIST A, TB_PURCHASE_ORDER_ADM B, TB_GOODS_CODE_ADM C
			WHERE A.PO_SEQ = B.PO_SEQ
				AND B.GOODS_CD = C.GOODS_CD	
				AND LEFT(OUTPUT_HIST_DATE,6) = #{planYear}+'07'				
			GROUP BY B.DEAL_CORP_CD,C.GIJONG_CD
			) LL ON LL.GIJONG_CD = A.GIJONG_CD AND LL.DEAL_CORP_CD = A.DEAL_CORP_CD

			LEFT OUTER JOIN (SELECT  
				B.DEAL_CORP_CD
				,C.GIJONG_CD
				,SUM(A.OUTPUT_QTY) QTY8
				,SUM(A.OUTPUT_QTY * COST_UNIT) COST8
			FROM TB_PURCHASE_ORDER_OUTPUT_HIST A, TB_PURCHASE_ORDER_ADM B, TB_GOODS_CODE_ADM C
			WHERE A.PO_SEQ = B.PO_SEQ
				AND B.GOODS_CD = C.GOODS_CD	
				AND LEFT(OUTPUT_HIST_DATE,6) = #{planYear}+'08'				
			GROUP BY B.DEAL_CORP_CD,C.GIJONG_CD
			) GG ON GG.GIJONG_CD = A.GIJONG_CD AND GG.DEAL_CORP_CD = A.DEAL_CORP_CD
			LEFT OUTER JOIN (SELECT  
				B.DEAL_CORP_CD
				,C.GIJONG_CD
				,SUM(A.OUTPUT_QTY) QTY9
				,SUM(A.OUTPUT_QTY * COST_UNIT) COST9
			FROM TB_PURCHASE_ORDER_OUTPUT_HIST A, TB_PURCHASE_ORDER_ADM B, TB_GOODS_CODE_ADM C
			WHERE A.PO_SEQ = B.PO_SEQ
				AND B.GOODS_CD = C.GOODS_CD	
				AND LEFT(OUTPUT_HIST_DATE,6) = #{planYear}+'09'				
			GROUP BY B.DEAL_CORP_CD,C.GIJONG_CD
			) HH ON HH.GIJONG_CD = A.GIJONG_CD AND HH.DEAL_CORP_CD = A.DEAL_CORP_CD
			LEFT OUTER JOIN (SELECT  
				B.DEAL_CORP_CD
				,C.GIJONG_CD
				,SUM(A.OUTPUT_QTY) QTY10
				,SUM(A.OUTPUT_QTY * COST_UNIT) COST10
			FROM TB_PURCHASE_ORDER_OUTPUT_HIST A, TB_PURCHASE_ORDER_ADM B, TB_GOODS_CODE_ADM C
			WHERE A.PO_SEQ = B.PO_SEQ
				AND B.GOODS_CD = C.GOODS_CD	
				AND LEFT(OUTPUT_HIST_DATE,6) = #{planYear}+'10'				
			GROUP BY B.DEAL_CORP_CD,C.GIJONG_CD
			) II ON II.GIJONG_CD = A.GIJONG_CD AND II.DEAL_CORP_CD = A.DEAL_CORP_CD
			LEFT OUTER JOIN (SELECT  
				B.DEAL_CORP_CD
				,C.GIJONG_CD
				,SUM(A.OUTPUT_QTY) QTY11
				,SUM(A.OUTPUT_QTY * COST_UNIT) COST11
			FROM TB_PURCHASE_ORDER_OUTPUT_HIST A, TB_PURCHASE_ORDER_ADM B, TB_GOODS_CODE_ADM C
			WHERE A.PO_SEQ = B.PO_SEQ
				AND B.GOODS_CD = C.GOODS_CD	
				AND LEFT(OUTPUT_HIST_DATE,6) = #{planYear}+'11'				
			GROUP BY B.DEAL_CORP_CD,C.GIJONG_CD
			) JJ ON JJ.GIJONG_CD = A.GIJONG_CD AND JJ.DEAL_CORP_CD = A.DEAL_CORP_CD
			LEFT OUTER JOIN (SELECT  
				B.DEAL_CORP_CD
				,C.GIJONG_CD
				,SUM(A.OUTPUT_QTY) QTY12
				,SUM(A.OUTPUT_QTY * COST_UNIT) COST12
			FROM TB_PURCHASE_ORDER_OUTPUT_HIST A, TB_PURCHASE_ORDER_ADM B, TB_GOODS_CODE_ADM C
			WHERE A.PO_SEQ = B.PO_SEQ
				AND B.GOODS_CD = C.GOODS_CD	
				AND LEFT(OUTPUT_HIST_DATE,6) = #{planYear}+'12'				
			GROUP BY B.DEAL_CORP_CD,C.GIJONG_CD
			) KK ON KK.GIJONG_CD = A.GIJONG_CD AND KK.DEAL_CORP_CD = A.DEAL_CORP_CD		
			WHERE 1=1
			AND PLAN_YEAR = #{planYear}

			order by A.DEAL_CORP_CD,DEAL_CORP_NM,GIJONG_CD,orderby
		]]>
	
	</select>
		
	
	<insert id="create" parameterType="mes.domain.bs.SalesPlanAdmVo">
		INSERT INTO TB_SALES_PLAN_ADM(
           DEAL_CORP_CD
           ,GIJONG_CD
           ,PLAN_YEAR
           ,JAN_CNT
           ,JAN_COST
           ,FEB_CNT
           ,FEB_COST
           ,MAR_CNT
           ,MAR_COST
           ,APR_CNT
           ,APR_COST
           ,MAY_CNT
           ,MAY_COST
           ,JUN_CNT
           ,JUN_COST
           ,JUL_CNT
           ,JUL_COST
           ,AUG_CNT
           ,AUG_COST
           ,SEP_CNT
           ,SEP_COST
           ,OCT_CNT
           ,OCT_COST
           ,NOV_CNT
           ,NOV_COST
           ,DEC_CNT
           ,DEC_COST         
           ,REG_ID
           ,REG_DATE
       )
       VALUES(     
           #{dealCorpCd}
           ,#{gijongCd}
           ,#{planYear}
           ,#{janCnt}
           ,#{janCost}
           ,#{febCnt}
           ,#{febCost}
           ,#{marCnt}
           ,#{marCost}
           ,#{aprCnt}
           ,#{aprCost}
           ,#{mayCnt}
           ,#{mayCost}
           ,#{junCnt}
           ,#{junCost}
           ,#{julCnt}
           ,#{julCost}
           ,#{augCnt}
           ,#{augCost}
           ,#{sepCnt}
           ,#{sepCost}
           ,#{octCnt}
           ,#{octCost}
           ,#{novCnt}
           ,#{novCost}
           ,#{decCnt}
           ,#{decCost}
		   ,#{regId}
		   ,getDate()
		)
	</insert>
	
	<update id="update" parameterType="mes.domain.bs.SalesPlanAdmVo">
		UPDATE	TB_SALES_PLAN_ADM 
		SET	
			DEAL_CORP_CD =   #{dealCorpCd}
			,GIJONG_CD   =   #{gijongCd}
			,PLAN_YEAR   =   #{planYear}
			,JAN_CNT     =   #{janCnt}
			,JAN_COST    =   #{janCost}
			,FEB_CNT     =   #{febCnt}
			,FEB_COST    =   #{febCost}
			,MAR_CNT     =   #{marCnt}
			,MAR_COST    =   #{marCost}
			,APR_CNT     =   #{aprCnt}
			,APR_COST    =   #{aprCost}
			,MAY_CNT     =   #{mayCnt}
			,MAY_COST    =   #{mayCost}
			,JUN_CNT     =   #{junCnt}
			,JUN_COST    =   #{junCost}
			,JUL_CNT     =   #{julCnt}
			,JUL_COST    =   #{julCost}
			,AUG_CNT     =   #{augCnt}
			,AUG_COST    =   #{augCost}
			,SEP_CNT     =   #{sepCnt}
			,SEP_COST    =   #{sepCost}
			,OCT_CNT     =   #{octCnt}
			,OCT_COST    =   #{octCost}
			,NOV_CNT     =   #{novCnt}
			,NOV_COST    =   #{novCost}
			,DEC_CNT     =   #{decCnt}
			,DEC_COST    =   #{decCost}   			
			,UPD_ID = #{updId}
			,UPD_DATE = getDate()
		WHERE	 1=1		
			AND DEAL_CORP_CD = #{dealCorpCd}
			AND GIJONG_CD = #{gijongCd}
			AND PLAN_YEAR = #{planYear}
		
	</update>

	
	<delete id="delete" parameterType="mes.domain.bs.SalesPlanAdmVo">
		DELETE FROM TB_SALES_PLAN_ADM
		WHERE PLAN_YEAR = #{planYear} AND DEAL_CORP_CD = #{dealCorpCd}
	</delete>
	
	
	<select id="quarterListNew" resultMap="SalesPlanAdmVo">
		<![CDATA[
			SELECT DISTINCT
				A.DEAL_CORP_CD
				, (SELECT DEAL_CORP_NM FROM TB_DEAL_CORP_ADM B WHERE B.DEAL_CORP_CD = A.DEAL_CORP_CD) DEAL_CORP_NM	
				,#{planYear} PLAN_YEAR			  
				, ISNULL(A.[${planYear}01],0)+ISNULL(A.[${planYear}02],0)+ISNULL(A.[${planYear}03],0) QUARTER_CNT1
				, ISNULL(A.[${planYear}04],0)+ISNULL(A.[${planYear}05],0)+ISNULL(A.[${planYear}06],0) QUARTER_CNT2
				, ISNULL(A.[${planYear}07],0)+ISNULL(A.[${planYear}08],0)+ISNULL(A.[${planYear}09],0) QUARTER_CNT3
				, ISNULL(A.[${planYear}10],0)+ISNULL(A.[${planYear}11],0)+ISNULL(A.[${planYear}12],0) QUARTER_CNT4

				, ISNULL(B.[${planYear}01],0)+ISNULL(B.[${planYear}02],0)+ISNULL(B.[${planYear}03],0) QUARTER_COST1
				, ISNULL(B.[${planYear}04],0)+ISNULL(B.[${planYear}05],0)+ISNULL(B.[${planYear}06],0) QUARTER_COST2
				, ISNULL(B.[${planYear}07],0)+ISNULL(B.[${planYear}08],0)+ISNULL(B.[${planYear}09],0) QUARTER_COST3
				, ISNULL(B.[${planYear}10],0)+ISNULL(B.[${planYear}11],0)+ISNULL(B.[${planYear}12],0) QUARTER_COST4 
				,ISNULL(AA.QTY1 ,0) QTY1
				,ISNULL(AA.COST1,0) COST1
				,ISNULL(BB.QTY2 ,0) QTY2
				,ISNULL(BB.COST2,0) COST2
				,ISNULL(CC.QTY3 ,0) QTY3
				,ISNULL(CC.COST3,0) COST3
				,ISNULL(DD.QTY4 ,0) QTY4
				,ISNULL(DD.COST4,0) COST4
			FROM 
			
			(
			SELECT * 
				FROM (
					SELECT 
							'1' GUBUN
							,'23년 계획' DEAL_CORP_NM						
							,SUM(PO_QTY) PO_QTY
							,DEAL_CORP_CD
							,LEFT(DEAD_LINE,6) DEAD_LINE
						FROM TB_PURCHASE_ORDER_ADM
						WHERE LEFT(DEAD_LINE,4) = #{planYear}
						GROUP BY LEFT(DEAD_LINE,6),DEAL_CORP_CD
				) AA
				PIVOT(SUM(PO_QTY) FOR DEAD_LINE IN (${planDateList}				
				)) AS PVIOT
			 ) A 
			 LEFT OUTER JOIN
			(
			SELECT * 
				FROM (
					SELECT 
							'1' GUBUN
							,'23년 계획' DEAL_CORP_NM						
							,SUM(PO_QTY* COST_UNIT) PO_QTY							
							,DEAL_CORP_CD
							,LEFT(DEAD_LINE,6) DEAD_LINE
						FROM TB_PURCHASE_ORDER_ADM
						WHERE LEFT(DEAD_LINE,4) = #{planYear}
						GROUP BY LEFT(DEAD_LINE,6),DEAL_CORP_CD
				) AA
				PIVOT(SUM(PO_QTY) FOR DEAD_LINE IN (${planDateList}				
				)) AS PVIOT
			 ) B 
			ON 1=1
			AND A.DEAL_CORP_CD = B.DEAL_CORP_CD
			LEFT OUTER JOIN
			(SELECT  
				B.DEAL_CORP_CD				
				,SUM(A.OUTPUT_QTY) QTY1	
				,SUM(A.OUTPUT_QTY * COST_UNIT) COST1
			FROM TB_PURCHASE_ORDER_OUTPUT_HIST A, TB_PURCHASE_ORDER_ADM B, TB_GOODS_CODE_ADM C
			WHERE A.PO_SEQ = B.PO_SEQ
				AND B.GOODS_CD = C.GOODS_CD	
				AND B.DEAD_LINE >= #{planYear} +'0101'
				AND B.DEAD_LINE <= #{planYear} + '0331'
			GROUP BY B.DEAL_CORP_CD
			) AA ON  AA.DEAL_CORP_CD = A.DEAL_CORP_CD
			LEFT OUTER JOIN (SELECT  
				B.DEAL_CORP_CD				
				,SUM(A.OUTPUT_QTY) QTY2
				,SUM(A.OUTPUT_QTY * COST_UNIT) COST2
			FROM TB_PURCHASE_ORDER_OUTPUT_HIST A, TB_PURCHASE_ORDER_ADM B, TB_GOODS_CODE_ADM C
			WHERE A.PO_SEQ = B.PO_SEQ
				AND B.GOODS_CD = C.GOODS_CD	
				AND B.DEAD_LINE >= #{planYear}+'0401'
				AND B.DEAD_LINE <= #{planYear}+'0631'
			GROUP BY B.DEAL_CORP_CD
			) BB ON BB.DEAL_CORP_CD = A.DEAL_CORP_CD
			LEFT OUTER JOIN (SELECT  
				B.DEAL_CORP_CD				
				,SUM(A.OUTPUT_QTY) QTY3	
				,SUM(A.OUTPUT_QTY * COST_UNIT) COST3
			FROM TB_PURCHASE_ORDER_OUTPUT_HIST A, TB_PURCHASE_ORDER_ADM B, TB_GOODS_CODE_ADM C
			WHERE A.PO_SEQ = B.PO_SEQ
				AND B.GOODS_CD = C.GOODS_CD	
				AND B.DEAD_LINE >= #{planYear}+'0701'
				AND B.DEAD_LINE <= #{planYear}+'0931'
			GROUP BY B.DEAL_CORP_CD
			) CC ON CC.DEAL_CORP_CD = A.DEAL_CORP_CD
			LEFT OUTER JOIN (SELECT  
				B.DEAL_CORP_CD				
				,SUM(A.OUTPUT_QTY) QTY4
				,SUM(A.OUTPUT_QTY * COST_UNIT) COST4
			FROM TB_PURCHASE_ORDER_OUTPUT_HIST A, TB_PURCHASE_ORDER_ADM B, TB_GOODS_CODE_ADM C
			WHERE A.PO_SEQ = B.PO_SEQ
				AND B.GOODS_CD = C.GOODS_CD	
				AND B.DEAD_LINE >= #{planYear}+'1001'
				AND B.DEAD_LINE <= #{planYear}+'1231'
			GROUP BY B.DEAL_CORP_CD
			) DD ON DD.DEAL_CORP_CD = A.DEAL_CORP_CD
			WHERE 1=1
			
			order by A.DEAL_CORP_CD
		]]>
	</select>

</mapper>