<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  	
<mapper namespace="mes.mappers.em.attachDataMapper">

	<resultMap id="AttachDataVo" type="mes.domain.em.AttachDataVo">
		<result property="attachGubun"		column="ATTACH_GUBUN"		/>
		<result property="attachCd"			column="ATTACH_CD"			/>
		<result property="attachSeq"		column="ATTACH_SEQ"			/>
		<result property="contents"			column="CONTENTS"			/>
		<result property="attachFn"			column="ATTACH_FN"			/>
		<result property="attachPath"		column="ATTACH_PATH"		/>
		<result property="attachRegDate"	column="ATTACH_REG_DATE"	/>
		<result property="etc1"				column="ETC1"				/>
		<result property="etc2"				column="ETC2"				/>
		<result property="etc3"				column="ETC3"				/>
		<result property="etc4"				column="ETC4"				/>
		<result property="etc5"				column="ETC5"				/>
		<result property="regId"			column="REG_ID"				/>
		<result property="regDate"			column="REG_DATE"			/>
		<result property="updId"			column="UPD_ID"				/>
		<result property="updDate"			column="UPD_DATE"			/>
		
<!-- 		추가사항 -->
		<result property="regNm"			column="REG_NM"				/>
		<result property="etc1Nm"			column="ETC1_NM"			/>
		<result property="userNm"			column="USER_NM"			/>
		<result property="departmentNm"		column="DEPARTMENT_NM"		/>
		<result property="attachType"		column="ATTACH_TYPE"		/>
	</resultMap>

	<!-- 관련 자료 전체조회 -->
	<select id="attachDataAllList" resultMap="AttachDataVo">
		SELECT	ATTACH_GUBUN,
			ATTACH_CD,
			ATTACH_SEQ,
			CONTENTS,
			ATTACH_FN,
			ATTACH_PATH,
			ATTACH_REG_DATE,
			ETC1,
			ETC2,
			ETC3,
			ETC4,
			ETC5,
			REG_ID,
			ISNULL((SELECT USER_NM FROM TB_USER B WHERE B.USER_ID=A.REG_ID), '관리자') AS  REG_NM,
			REG_DATE,
			UPD_ID,
			UPD_DATE,
			(SELECT USER_NM FROM TB_USER U WHERE U.USER_NUMBER = A.ETC3) USER_NM,
			(SELECT BASE_CD_NM FROM TB_SYSTEM_COMMON_CODE X WHERE X.BASE_CD = (SELECT DEPARTMENT_CD FROM TB_USER U WHERE U.USER_NUMBER = A.ETC3) AND X.BASE_GROUP_CD = '003') DEPARTMENT_NM
		FROM TB_ATTACH_DATA A
		WHERE ATTACH_GUBUN = #{attachGubun}
	</select>
	
	<!-- 관련 자료 조회 -->
	<select id="attachDataList" resultMap="AttachDataVo">
		SELECT	ATTACH_GUBUN,
			ATTACH_CD,
			ATTACH_SEQ,
			CONTENTS,
			ATTACH_FN,
			ATTACH_PATH,
			ATTACH_REG_DATE,
			ETC1,
			ETC2,
			ETC3,
			ETC4,
			ETC5,
			REG_ID,
			ISNULL((SELECT USER_NM FROM TB_USER B WHERE B.USER_ID=A.REG_ID), '관리자') AS  REG_NM,
			REG_DATE,
			UPD_ID,
			UPD_DATE,
			(SELECT BASE_CD_NM FROM TB_SYSTEM_COMMON_CODE X WHERE X.BASE_CD = A.ETC1 AND X.BASE_GROUP_CD = '108') ETC1_NM
		FROM TB_ATTACH_DATA A
		WHERE ATTACH_GUBUN = #{attachGubun}
		AND ATTACH_CD = #{attachCd}
		<if test="etc1 != '' and etc1 != null"> 
		AND ETC1 = #{etc1}
		</if>
		<if test="attachType != '' and attachType != null"> 
		AND ATTACH_TYPE = #{attachType}
		</if>
	</select>

	<!-- 관련 자료 Create -->
	<insert id="attachDataCreate" parameterType="mes.domain.em.AttachDataVo">
			INSERT INTO TB_ATTACH_DATA(
				ATTACH_GUBUN,
				ATTACH_CD,
				ATTACH_SEQ,
				ATTACH_TYPE,
				CONTENTS,
				ATTACH_FN,
				ATTACH_PATH,
				ATTACH_REG_DATE,
				ETC1,
				ETC2,
				ETC3,
				ETC4,
				ETC5,
				REG_ID,
				REG_DATE
			) 
			VALUES(
				#{attachGubun},
				#{attachCd},
				#{attachSeq},
				#{attachType},
				#{contents},
				#{attachFn},
				#{attachPath},
				#{attachRegDate},
				#{etc1},
				#{etc2},
				#{etc3},
				#{etc4},
				#{etc5},
				#{regId},
				getDate()
			)
	</insert>
	
	<!-- 설비관리 Update -->
	<update id="attachDataUpdate" parameterType="mes.domain.em.AttachDataVo">
		UPDATE TB_ATTACH_DATA
		SET
		UPD_ID = #{updId}
		, UPD_DATE = getDate()
		<if test="attachFn != '' and attachFn != null"> 
		, ATTACH_FN = #{attachFn}
		</if>
		<if test="attachPath != '' and attachPath != null"> 
		, ATTACH_PATH = #{attachPath}
		</if>
		WHERE ATTACH_GUBUN = #{attachGubun}
		AND ATTACH_CD = #{attachCd}
		AND ATTACH_SEQ = #{attachSeq}
		<if test="etc1 != '' and etc1 != null"> 
		AND ETC1 = #{etc1}
		</if>
	</update>
	
	<!-- 설비관리 Delete -->
	<delete id="attachDataDelete" parameterType="mes.domain.em.AttachDataVo">
			DELETE
			FROM TB_ATTACH_DATA
			WHERE ATTACH_GUBUN = #{attachGubun}
			AND ATTACH_CD = #{attachCd}
			<if test="attachSeq != '' and attachSeq != null"> 
			AND ATTACH_SEQ = #{attachSeq}
			</if>
	</delete>
	
	<!-- 참고자료 첨부파일 삭제 -->
	<update id="attachFileDelete" parameterType="mes.domain.em.AttachDataVo">
			UPDATE  TB_ATTACH_DATA
			SET	 ATTACH_FN = ''
				, UPD_ID = #{updId}
				, UPD_DATE = GETDATE()
			WHERE ATTACH_GUBUN = #{attachGubun}
			AND ATTACH_CD = #{attachCd}
			AND ATTACH_SEQ = #{attachSeq}
	</update>
	
	<!-- 개발관리 관련자료 승인 -->
	<update id="attachApproveUpdate" parameterType="mes.domain.em.AttachDataVo">
			UPDATE  TB_ATTACH_DATA
			SET	 ETC2 = #{etc2}
				, UPD_ID = #{updId}
				, UPD_DATE = GETDATE()
			WHERE ATTACH_GUBUN = #{attachGubun}
			AND ATTACH_CD = #{attachCd}
			AND ATTACH_SEQ = #{attachSeq}
	</update>
	
	<!-- 시퀀스 값 조회 -->
	<select id="attachDataSeq" resultType="int">
			SELECT ISNULL(CAST(MAX(ATTACH_SEQ)+1 AS NVARCHAR), '0') 
			FROM TB_ATTACH_DATA 
			WHERE ATTACH_GUBUN=#{attachGubun}
			AND ATTACH_CD = #{attachCd}
			<if test="etc1 != '' and etc1 != null"> 
			AND ETC1 = #{etc1}
			</if>
	</select>
	
	<!-- attachCd 시퀀스 값 조회 -->
	<select id="attachDataCd" resultType="String">
			SELECT ISNULL(CAST(MAX(ATTACH_CD)+1 AS NVARCHAR), '100001') 
			FROM TB_ATTACH_DATA 
			WHERE ATTACH_GUBUN = #{attachGubun}
	</select>
	
	<!-- 파일경로 조회 -->
	<select id="eqFilePath" resultType="String">
			SELECT ATTACH_PATH
			FROM TB_ATTACH_DATA
			WHERE ATTACH_SEQ = #{attachSeq}
			AND ATTACH_CD = #{attachCd}
	</select>
	
	<!-- 파일경로 자세히 조회 -->
	<select id="dtrFilePath" resultType="String">
			SELECT ATTACH_PATH
			FROM TB_ATTACH_DATA
			WHERE ATTACH_SEQ = #{attachSeq}
			AND ATTACH_CD = #{attachCd}
			AND ATTACH_GUBUN = #{attachGubun}
	</select>
	
		<!-- attachCd 시퀀스 값 조회 -->
	<select id="getAttachFileNm" resultType="String">
			SELECT ATTACH_FN 
			FROM TB_ATTACH_DATA 
			WHERE ATTACH_SEQ = #{attachSeq}
			AND ATTACH_CD = #{attachCd}
			AND ATTACH_GUBUN = #{attachGubun}
	</select>
	
	
</mapper>


