<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  	
<mapper namespace="mes.mappers.sm.SystemAccessLogMapper">

<resultMap id="SystemAccessLogVo" type="mes.domain.sm.SystemAccessLogVo">
	
	<result property="userNumber"			column="USER_NUMBER"/>
	<result property="userId"				column="USER_ID"/>
	<result property="userNm"				column="USER_NM"/>
	<result property="menuId"				column="MENU_ID"/>
	<result property="menuNm"				column="MENU_NM"/>
	<result property="menuPath"				column="MENU_PATH"/>
	<result property="ipAddr"				column="IP_ADDR" />
	<result property="regId"				column="REG_ID"/>
	<result property="regDate"				column="REG_DATE"/>	
	<result property="updId"				column="UPD_ID"/>	
	<result property="updDate"				column="UPD_DATE" />
	
<!-- 	추가사항 -->
	<result property="departmentNm"			column="DEPARTMENT_NM" />	
	<result property="postNm"				column="POST_NM" />	
	<result property="changeHis"			column="CHANGE_HIS" />	
	<result property="menuDtlNm"			column="MENU_DTL_NM" />	
			
</resultMap>

<!-- 	<select id="smlistAll" resultMap="SystemAccessLogVo">  -->
<!-- 		SELECT	A.USER_NUMBER  -->
<!-- 			, A.USER_ID  -->
<!-- 			,(SELECT U.USER_NM FROM TB_USER U WHERE U.USER_NUMBER = A.USER_NUMBER) USER_NM -->
<!-- 			,(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD = (SELECT U.DEPARTMENT_CD FROM TB_USER U WHERE U.USER_NUMBER = A.USER_NUMBER) AND X.BASE_GROUP_CD='003') DEPARTMENT_NM -->
<!-- 			,(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD = (SELECT U.POST_CD FROM TB_USER U WHERE U.USER_NUMBER = A.USER_NUMBER) AND X.BASE_GROUP_CD='005') POST_NM -->
<!-- 			, A.MENU_ID -->
<!-- 			,(SELECT M.MENU_NM FROM TB_MENU_INFO_ADM M WHERE M.MENU_ID = A.MENU_ID) MENU_NM -->
<!-- 			,(SELECT M.MENU_PATH FROM TB_MENU_INFO_ADM M WHERE M.MENU_ID = A.MENU_ID) MENU_PATH -->
<!-- 			, A.CHANGE_HIS  -->
<!-- 			, A.REG_ID  -->
<!-- 			, A.REG_DATE  -->
<!-- 			, A.UPD_ID  -->
<!-- 			, A.UPD_DATE -->
<!-- 		FROM	TB_USER_ACCESS_LOG A -->
<!-- 		WHERE CONVERT(char(8), REG_DATE, 112) BETWEEN #{startDate} AND #{LastDate} -->
<!-- 		ORDER BY MENU_ID DESC -->
<!-- 	</select> -->
	
	
	<select id="smlistAll" resultMap="SystemAccessLogVo"> 
		SELECT	USER_NUMBER 
			, USER_ID 
			, USER_NM
			, DEPARTMENT_CD
			, (SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD = DEPARTMENT_CD AND X.BASE_GROUP_CD = '003') DEPARTMENT_NM
			, MENU_ID
			, (SELECT MENU_NM FROM TB_MENU_INFO_ADM X WHERE X.MENU_ID=B.MENU_ID) MENU_NM
			, MENU_PATH 
			, IP_ADDR
			, REG_ID 
			, REG_DATE 
			, UPD_ID 
			, UPD_DATE
		FROM	TB_SYSTEM_ACCESS_LOG B	
		WHERE CONVERT(char(8), REG_DATE, 112) BETWEEN #{startDate} AND #{LastDate}
	</select>
	
	<select id="systemChangeLogList" resultMap="SystemAccessLogVo"> 
		SELECT	USER_NUMBER,
			USER_ID,
			MENU_ID,
			CHANGE_HIS,
			REG_ID,
			REG_DATE,
			UPD_ID,
			UPD_DATE,
			(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD = (select DEPARTMENT_CD from TB_USER U where U.USER_NUMBER = B.USER_NUMBER) AND X.BASE_GROUP_CD = '003') DEPARTMENT_NM,
			(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD = (select POST_CD from TB_USER U where U.USER_NUMBER = B.USER_NUMBER) AND X.BASE_GROUP_CD = '005') POST_NM,
			(SELECT USER_NM from TB_USER U where U.USER_NUMBER = B.USER_NUMBER) USER_NM,
			(SELECT MENU_NM FROM TB_MENU_INFO_ADM X WHERE X.MENU_ID = (SELECT UPPER_MENU_ID FROM TB_MENU_INFO_ADM X WHERE X.MENU_ID = B.MENU_ID)) MENU_NM,
			(SELECT MENU_NM FROM TB_MENU_INFO_ADM X WHERE X.MENU_ID = B.MENU_ID) MENU_DTL_NM,
			(SELECT M.MENU_PATH FROM TB_MENU_INFO_ADM M WHERE M.MENU_ID = B.MENU_ID) MENU_PATH
		FROM	TB_SYSTEM_CHANGE_HIS_LOG B	
		WHERE CONVERT(char(8), REG_DATE, 112) BETWEEN #{startDate} AND #{LastDate}
		ORDER BY REG_DATE DESC
	</select>
	
	
	<insert id="create">
		INSERT INTO TB_SYSTEM_ACCESS_LOG(
			USER_NUMBER,
			USER_ID,
			USER_NM,
			DEPARTMENT_CD,
			MENU_ID,
			MENU_PATH,
			IP_ADDR,
			REG_ID,
			REG_DATE
		) 
		VALUES(
			#{userNumber},
			#{userId},
			#{userNm},
			#{departmentCd},
			(SELECT MENU_ID FROM TB_MENU_INFO_ADM WHERE #{menuPath} = MENU_PATH),
			#{menuPath},
			#{ipAddr},
			#{regId},
			GETDATE()			
		)
	</insert>
	
	<!-- 로그이력 등록 -->
	<insert id="systemChangeLogCreate">
		INSERT INTO TB_SYSTEM_CHANGE_HIS_LOG	(
			USER_NUMBER,
			USER_ID,
			MENU_ID,
			CHANGE_HIS,
			REG_ID,
			REG_DATE
		) 
		VALUES(
			#{userNumber},
			#{userId},
			(SELECT MENU_ID FROM TB_MENU_INFO_ADM M WHERE #{menuPath} = M.MENU_PATH),
			#{changeHis},
			#{regId},
			getDate()
		)
	</insert>
	
	<!-- 
	<insert id="create">
		INSERT INTO TB_USER_ACCESS_LOG(
			USER_NUMBER,
			USER_ID,
			USER_NM,
			DEPARTMENT_CD,
			MENU_ID,
			MENU_PATH,
			REG_ID,
			REG_DATE
		) 
		VALUES(
			#{userNumber},
			#{userId},
			#{userNm},
			#{departmentCd},
			(SELECT MENU_ID FROM TB_MENU_INFO_ADM WHERE #{menuPath} = MENU_PATH),
			#{menuPath},
			#{regId},
			GETDATE()			
		)	
	
	</insert>
 -->
	
</mapper>
