<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  	
<mapper namespace="mes.mappers.sm.systemAccessLogMapper">

<resultMap id="SystemAccessLogVo" type="mes.domain.sm.SystemAccessLogVo">
	<result property="seq"				column="SEQ"			/>
	<result property="userNumber"		column="USER_NUMBER"	/>
	<result property="userId"			column="USER_ID"		/>
	<result property="userNm"			column="USER_NM"		/>
	<result property="departmentCd"		column="DEPARTMENT_CD"	/>
	<result property="menuId"			column="MENU_ID"		/>
	<result property="menuNm"			column="MENU_NM"		/>
	<result property="menuPath"			column="MENU_PATH"		/>
	<result property="accesDate"		column="ACCESS_DATE"	/>
	<result property="regId"			column="REG_ID"			/>
	<result property="regDate"			column="REG_DATE"		/>
</resultMap>


	<select id="systemAccessLogList_F1F2F3" resultMap="SystemAccessLogVo">
  		SELECT
  			SEQ
			, USER_NUMBER
			, USER_ID
			, USER_NM
			, DEPARTMENT_CD
			, MENU_ID
			, MENU_NM
			, MENU_PATH
			, ACCESS_DATE
			, REG_ID
			, REG_DATE
		FROM TB_SYSTEM_ACCESS_LOG
		WHERE 1=1
		<if test="accessDate != '' and accessDate != null"> 		
		AND ACCESS_DATE= #{accessDate}
		</if>
	</select>
	
	
	<insert id="systemAccessLogCreate_F1F2F3">
		INSERT INTO TB_SYSTEM_ACCESS_LOG(
			SEQ
			, USER_NUMBER
			, USER_ID
			, USER_NM
			, DEPARTMENT_CD
			, MENU_ID
			, MENU_NM
			, MENU_PATH
			, ACCESS_DATE
			, REG_ID
			, REG_DATE
		) VALUES (
			NEXT VALUE FOR ACCESS_SEQ
			, #{userNumber}
			, #{userId}
			, #{userNm}
			, #{departmentCd}
			, #{menuId}
			, #{menuNm}
			, #{menuPath}
			, GETDATE()
			, #{regId}
			, GETDATE()
		)		
	</insert>
	
	
	
</mapper>
